body {
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 480px;
}

.container {
    max-width: 960px;
}

.buttons {
    /*margin-top: 24px;*/
    text-align: center;
}

.exercise-delete {
    margin-top: 24px;
}

.set .form-group {
    display: inline-block;
}

.set .form-group {
    width: 40%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .buttons {
        float: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

