<div ng-repeat="message in messages" class="alert" ng-class="'alert-' + message.type">
    <button type="button" class="close" ng-click="clearMessage($index)">&times;</button>
    {{ message.text }}
</div>