<div class="row">
    <div class="col-md-7">
        <ol class="breadcrumb">
            <li><a href="/app/routines">Routines</a></li>
            <li ng-if="currentRoutine" ng-bind="currentRoutine.name"></li>
        </ol>
    </div>
    <div class="col-md-5">
        <div class="buttons">
            <button type="button" ng-show="backup" ng-click="undo()" class="btn btn-default">
                <span>Undo</span>
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>
            <a href="/app/routines/create" ng-if="!currentRoutine" class="btn btn-primary">
                <span>New</span>
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <button type="button" ng-if="currentRoutine" ng-click="deleteRoutine()" class="btn btn-danger">
                <span>Delete</span>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <a ng-href="/app/routines/{{ routeParams.routineIndex }}/edit" ng-if="currentRoutine" class="btn btn-info">
                <span>Edit</span>
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <button type="button" ng-if="currentRoutine && currentRoutine.exercises.length" ng-click="beginWorkout()" class="btn btn-success">
                <span>Workout</span>
                <span class="glyphicon glyphicon-flash"></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" wl-messages></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a ng-repeat="routine in routines" ng-class="{ active: $parent.routeParams.routineIndex == $index }" ng-href="/app/routines/{{ $index }}" class="list-group-item">{{ routine.name }}</a>
        </div>
    </div>
    <div class="col-md-9" ng-show="!currentRoutine">
        <h3 class="text-center">To begin, select one of your routines or create a new one.</h3>
    </div>
    <div class="col-md-9" ng-show="currentRoutine">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workout in currentRoutine.workouts">
                    <td>{{ workout.prettyDate() }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" ng-style="{ width: workout.progress() }"></div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="#" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove" ng-click="currentRoutine.deleteWorkout($index)"></span>
                            </a>
                            <a ng-href="/app/routines/{{ routeParams.routineIndex }}/workouts/{{ $index }}" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>