<div class="row">
    <div class="col-md-7">
        <ol class="breadcrumb">
            <li><a href="/app/routines">Routines</a></li>
            <li ng-if="!routineExists">New Routine</li>
            <li ng-if="routineExists">
                <a ng-href="/app/routines/{{ routeParams.routineIndex }}" ng-bind="currentRoutine.name"></a>
            </li>
            <li ng-if="routineExists">Edit</li>
        </ol>
    </div>
    <div class="col-md-5">
        <div class="buttons">
            <button type="button" class="btn btn-primary" ng-if="routineExists" ng-click="currentRoutine.newExercise()" ng-disabled="routineForm.$invalid">
                <span>Exercise</span>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="submit" class="btn btn-success" ng-disabled="routineForm.$invalid" ng-click="saveRoutine()">
                <span>{{ routeParams.routineIndex !== null ? 'Save' : 'Create' }}</span>
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" wl-messages></div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="routineForm" ng-submit="saveRoutine(routineForm)" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': routineForm.name.$dirty && routineForm.name.$invalid }">
                        <label for="routine-name">Name</label>
                        <input type="text" id="routine-name" class="form-control" name="name" required ng-minlength="3" ng-model="currentRoutine.name" wl-unique="routines" ng-pattern="/^[a-zA-Z]+[\w\s]*$/">
                        <div ng-show="routineForm.name.$dirty">
                            <p ng-show="routineForm.name.$error.required" class="help-block">Name is required.</p>
                            <p ng-show="routineForm.name.$error.minlength" class="help-block">Name must be at least 3 characters long.</p>
                            <p ng-show="routineForm.name.$error.unique" class="help-block">Name is already in use.</p>
                            <p ng-show="routineForm.name.$error.pattern" class="help-block">Name can only consist of letters, numbers and spaces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': routineForm.restLength.$dirty && routineForm.restLength.$invalid }">
                        <label for="routine-restlength">Rest Length</label>
                        <input type="number" id="routine-restlength" class="form-control" name="restLength" required min="1" max="999" ng-model="currentRoutine.restLength">
                        <div ng-show="routineForm.restLength.$dirty">
                            <p ng-show="routineForm.restLength.$error.required" class="help-block">Rest length is required.</p>
                            <p ng-show="routineForm.restLength.$error.min || routineForm.restLength.$error.max" class="help-block">Rest length must be between 1 and 999 seconds.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 ng-show="currentRoutine.exercises.length">Exercises</h2>
            <div ng-repeat="exercise in currentRoutine.exercises track by $index" class="row" ng-form="exerciseForm">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error': exerciseForm.name.$dirty && exerciseForm.name.$invalid }">
                        <label for="{{ 'exercise-name-' + $index }}">Name</label>
                        <input type="text" id="{{ 'exercise-name-' + $index }}" class="form-control" required ng-minlength="3" name="name" ng-model="exercise.name" wl-unique="currentRoutine.exercises" ng-pattern="/^[a-zA-Z]+[\w\s]*$/">
                        <div ng-show="exerciseForm.name.$dirty">
                            <p ng-show="exerciseForm.name.$error.required" class="help-block">Exercise name is required.</p>
                            <p ng-show="exerciseForm.name.$error.minlength" class="help-block">Exercise name must be at least 3 characters long.</p>
                            <p ng-show="exerciseForm.name.$error.unique" class="help-block">Exercise name is already in use.</p>
                            <p ng-show="exerciseForm.name.$error.pattern" class="help-block">Exercise name can only consist of letters, numbers, and spaces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-4">
                    <div class="form-group" ng-class="{ 'has-error': exerciseForm.numSets.$dirty && exerciseForm.numSets.$invalid }">
                        <label for="{{ 'exercise-numsets-' + $index }}"># of Sets</label>
                        <input type="number" id="{{ 'exercise-numsets-' + $index }}" class="form-control" ng-model="exercise.numSets" min="1" max="99" name="numSets" required>
                        <div ng-show="exerciseForm.numSets.$dirty">
                            <p ng-show="exerciseForm.numSets.$error.required" class="help-block">Number of sets is required.</p>
                            <p ng-show="exerciseForm.numSets.$error.min || exerciseForm.numSets.$error.max" class="help-block">Number of sets must be between 1 and 99.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                    <button type="button" class="btn btn-danger exercise-delete" ng-click="currentRoutine.removeExercise($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>