<div class="row">
    <div class="col-md-12">
        <h1 ng-bind="routine.name + ' Workouts'"></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="{{ '/app/routines/' + routeParams.routineIndex + '/workouts/create' }}" class="btn btn-primary">
            <span>Begin Workout</span>
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Set</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workout in workouts">
                    <td>{{ workout.date }}</td>
                    <td>{{ workout.set }}</td>
                    <td>{{ workout.reps }}</td>
                    <td>{{ workout.weight }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ng-click="deleteRoutine($index)"></span></button>
                            <a href="/routine/{{ $index }}/edit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
