<div class="row">
    <div class="col-sm-7">
        <ol class="breadcrumb">
            <li><a href="/app/routines">Routines</a></li>
            <li><a ng-href="/app/routines/{{ routeParams.routineIndex }}" ng-bind="currentRoutine.name"></a></li>
            <li>Workout</li>
            <li>{{ currentWorkout.prettyDate() }}</li>
        </ol>
    </div>
    <div class="col-sm-5">
        <div class="buttons">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" wl-messages></div>
</div>
<div class="row">
    <div class="col-sm-11 col-xs-11">
        <div class="progress">
            <div class="progress-bar" ng-style="{ width: timerPosition * 100 / currentRoutine.restLength + '%' }"></div>
        </div>
    </div>
    <div class="col-sm-1 col-xs-1">
        <span class="badge" ng-bind="timerPosition + ' / ' + currentRoutine.restLength"></span>
    </div>
</div>
<div class="row">
    <form novalidate name="workoutForm">
        <div class="exercise-list" ng-repeat="exercise in currentExercises" ng-form="exerciseForm">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ exercise.name }}</div>
                    <div class="panel-body">
                        <ol>
                            <li ng-repeat="i in range(exercise.numSets) track by $index" class="set" ng-form="setForm">
                                <div class="form-group" ng-class="{ 'has-error': setForm.reps.$dirty && setForm.reps.$invalid }">
                                    <label>Reps <input type="number" class="form-control" name="reps" ng-model="exercise.sets[$index].reps" ng-disabled="currentWorkout.setEnabled($index)" required></label>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': setForm.weight.$dirty && setForm.weight.$invalid }">
                                    <label>Weight <input type="number" class="form-control" name="weight" ng-model="exercise.sets[$index].weight" ng-disabled="currentWorkout.setEnabled($index)" required></label>
                                </div>
                                <button type="submit" ng-disabled="setForm.$invalid" class="btn btn-success" ng-click="finishSet(exercise, $index)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>